version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
  - package-ecosystem: "julia"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
